{% extends 'base.html.twig' %}

{% block title %}New Worker{% endblock %}

{% block body %}
    <h1>Crée nouveaux employée</h1>

    {{ include('worker/_form.html.twig') }}

    <a href="{{ path('app_worker_index') }}">Retour</a>
{% endblock %}
