{% extends 'base.html.twig' %}

{% block title %}New SalaryCertificate{% endblock %}

{% block body %}
    <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">
        Créer un nouveau Attestation de salaire
      </h6>
    </div>
    <div class="card-body">
    {{ include('salary_certificate/_form.html.twig') }}
    </div>
    </div>
  </div>
{% endblock %}
