{% extends 'base.html.twig' %}

{% block title %}Nouveaux Utilisateur{% endblock %}

{% block body %}
    <h1>Crée Nouveaux Utilistateur</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">Retour</a>
{% endblock %}
