{% extends 'base.html.twig' %}

{% block title %}Modifier l'attestation de travaille{% endblock %}

{% block body %}
    <h1>Modifier l'attestation de travaille</h1>

    {{ include('work_certificate/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_work_certificate_index') }}">Retour</a>

    {{ include('work_certificate/_delete_form.html.twig') }}
{% endblock %}
